<div class="grid-x">
    <div class="cell text-center">
        <h2>Coffee production in Cuba</h2>
    </div>
</div>

<div class="grid-x grid-margin-x">
    <div class="cell auto">
        <article class="media-object">
            <div class="media-object-section">
                <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
            </div>
            <div class="media-object-section main-section">
                <h4><a href="http://">Cortadito</a></h4>
            </div>
        </article>
    </div>
    <div class="cell auto">
        <article class="media-object">
            <div class="media-object-section">
                <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
            </div>
            <div class="media-object-section main-section">
                <h4><a href="http://">Café con leche</a></h4>
            </div>
        </article>
    </div>
</div>

<p>Quia animi debitis ipsa dolorem veritatis ducimus doloremque reprehenderit tenetur, facere ratione placeat.</p>

<form>
    <div class="input-group">
        <input class="input-group-field" type="email">
        <div class="input-group-button">
            <input type="submit" class="button" value="Sign up">
        </div>
    </div>
</form>

<hr>