<div class="grid-y medium-grid-frame" style="max-height: 150vh;">
    <div class="cell shrink header medium-cell-block-container">
        <h2>Independent scrolling body</h2>
    </div>
    <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">

            <div class="cell medium-12 medium-cell-block-y">

                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Similar drinks</a></h4>
                            <p>Quaerat iusto rem doloribus possimus exercitationem vero</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1452415005154-c06158558480?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Cold brew</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere natus error et est repellat ratione. </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1501492673258-2bcfc17241fd?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Turkish coffee</a></h4>
                            <p>Sit, qui ad! Quia, id distinctio dolorem eius quidem recusandae eligendi illo ut officia.</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1489672155498-1331365e0dcd?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Vacuum coffee</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1453408685708-56aebfce1b7a?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Espresso</a></h4>
                            <p>Fuga laborum in dolor aspernatur. Possimus reiciendis officiis autem adipisci? </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1472683275437-1111fcd189dd?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Caffè Americano</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1478192013110-1203b3616b75?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Café Cubano</a></h4>
                            <p>Labore laborum illo saepe unde commodi delectus quos assumenda explicabo.</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1465674982114-2368001a8448?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Caffè crema</a></h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1456472821979-5120d02321ab?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Ca phe sua da</a></h4>
                            <p>Perspiciatis excepturi, repellat temporibus in maiores laudantium</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1505880643346-c930071b9980?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Cappuccino</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iste optio, nemo assumenda similique distinctio? </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Egg coffee</a></h4>
                            <p>Eos sed officiis recusandae consequatur!</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Espresso con panna</a></h4>
                            <p>Excepturi commodi at iste dolores laboriosam perferendis inventore eaque nostrum doloremque. </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Flat white</a></h4>
                            <p>Consectetur incidunt accusantium adipisci enim tempora</p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
                <article>
                    <div class="media-object">
                        <div class="media-object-section main-section">
                            <h4><a href="http://">Caffè gommosa</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                        </div>
                        <div class="media-object-section">
                            <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
   
</div>

<hr>