<h2>Opinion</h2>
<div class="grid-x grid-margin-x">
    <div class="cell medium-6">
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
    </div>
    <div class="cell medium-6">

        <ul>
            <li>
                <span class="label">Default Label</span>
                <h3>Lorem heading</h3>
            </li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
            <li>Nunc dignissim risus id metus.</li>
            <li>Cras ornare tristique elit.</li>
            <li>Vivamus vestibulum nulla nec ante.</li>
            <li>Praesent placerat risus quis eros.</li>
        </ul>


        <span class="label">Default Label</span>
        <h3>Lorem heading</h3>
    </div>
</div>
<div class="grid-x grid-margin-x">
    <div class="cell medium-6">Insider</div>
    <div class="cell medium-6">The Crossword</div>
</div>