<div class="grid-x grid-margin-x">
    <div class="cell medium-4">
        <h2 class="show-for-sr">Top news</h2>
        <article>
            <h3>Trump Opposes 401(k) Change, Roiling Debate Over Tax Bill</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
            </ul>
        </article>
        <hr>
        <article>
            <h3>How Russia Used YouTube’s Reach to Sow Propaganda</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
            </ul>
        </article>
        <hr>
        <article>
            <h3>Latest O’Reilly Case Is ‘Jaw-Dropping,’ Megyn Kelly Says</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
            </ul>
        </article>
    </div>
    <div class="cell medium-8">
        <h2 class="show-for-sr">Top news</h2>

        <div class="responsive-embed widescreen">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
        </div>

        <hr>

        <article class="media-object">
            <div class="media-object-section main-section">
                <h4>Dreams feel real while we're in them.</h4>
                <p>I'm going to improvise. Listen, there's something you should know about me... about inception.</p>
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="https://www.mfiles.co.uk/mp3-downloads/mozart-horn-concerto4-3-rondo.mp3" type="audio/mpeg"> Your browser does not support the audio tag.
                </audio>
            </div>
            <div class="media-object-section">
                <img src="https://images.unsplash.com/photo-1458819714733-e5ab3d536722?w=100&h=100&fit=crop">
            </div>
        </article>

        <ul class="menu">
            <li class="menu-text">Follow</li>
            <li>
                <a href="#">One</a>
            </li>
            <li>
                <a href="#">Two</a>
            </li>
            <li>
                <a href="#">Three</a>
            </li>
        </ul>

    </div>
</div>