<div class="grid-x">
    <div class="cell text-center">
        <h2>Opinion</h2>
    </div>
</div>

<div class="grid-x grid-margin-x">

    <div class="cell medium-6">
        <article>
            <h3>Latest O’Reilly Case Is ‘Jaw-Dropping,’ Megyn Kelly Says</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.
            </p>
        </article>
        <hr>
        <article>
            <h3>Latest O’Reilly Case Is ‘Jaw-Dropping,’ Megyn Kelly Says</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.
            </p>
        </article>
    </div>

    <div class="cell medium-6">
        <article>
            <h3>How Russia Used YouTube’s Reach to Sow Propaganda</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
            </ul>
        </article>
    </div>

</div>

<hr>

{{> block_gridframe }}

{{> article_media-object_copy }}