<footer>
    <hr>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell auto">
                <h3>News</h3>
                {{>footer_menu}}
            </div>
            <div class="cell auto ">
                <h3>News</h3>
                {{>footer_menu}}
            </div>
            <div class="cell auto">
                <h3>News</h3>
                {{>footer_menu}}
            </div>
            <div class="cell auto ">
                <h3>News</h3>
                {{>footer_menu}}
            </div>
            <div class="cell auto">
                <h3>News</h3>
                {{>footer_menu}}
            </div>
            <div class="cell auto ">
                {{>footer_menu}}
            </div>
        </div>
        <hr>
        <div class="grid-x">
                <div class="cell medium-8">

                        <ul class="menu">
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Work with us</a></li>
                                <li><a href="#">Adveertising</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Terms of sale</a></li>
                            </ul>

                </div>
                <div class="cell auto">
                        <ul class="menu">
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">help</a></li>
                                <li><a href="#">feedback</a></li>
                                <li><a href="#">subscriptions</a></li>
                            </ul>

                </div>


        </div>
    </div>
</footer>