<nav>
    <ul class="vertical menu">
        <li>
            <a href="https://www.nytimes.com/section/world">World</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/us">U.S.</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/politics">Politics</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/business">Business</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/opinion">Opinion</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/technology">Tech</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/science">Science</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/health">Health</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/sports">Sports</a>
        </li>
        <li>
            <a href="https://www.nytimes.com/section/arts">Arts</a>
        </li>
    </ul>
</nav>