<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell text-center">
            <h1>The F6 Times</h1>
        </div>
    </div>

    <div class="grid-x grid-margin-x align-center">
        <ul class="menu">
            <li>
                <a href="https://www.nytimes.com/section/world">World</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/us">U.S.</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/politics">Politics</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/business">Business</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/opinion">Opinion</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/technology">Tech</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/science">Science</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/health">Health</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/sports">Sports</a>
            </li>
            <li>
                <a href="https://www.nytimes.com/section/arts">Arts</a>
            </li>
        </ul>
    </div>
</div>

<hr>