<div class="grid-container">
    <div class="grid-x">
        <div class="cell auto">
            <a href="#">Menu</a>
            <a href="#">Search</a>
        </div>
        <div class="cell auto text-right">
            <a class="button button-rounded" href="#">Login</a>
            <a class="button" href="#">Login</a>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell text-center">
            <h1>The Espresso Times</h1>
        </div>
    </div>

    <div class="grid-x grid-margin-x align-center">
       {{> header_menu }}
    </div>

</div>

<hr>